<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
  </head>

  <body>
    <div id="nav">
      <%if logged_in? %>
        <h1>Welcome to Dope Music, <%= current_user.email %></h1>

        <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Log Out" >
      </form>
      <%else%>
        <h1>Welcome to Dope Music</h1>
        <div id="nav_links">
          <a href="<%= new_user_url %>">Register</a>
          <a href="<%= new_session_url %> ">Login</a>
      </div>
      <%end%>
      
    </div>
    
    <%= yield %>
    <ul>
      <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
              <li><%= error %></li>
          <% end %>
      <% end %>
    </ul>
  </body>
</html>
